<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>store admin</title>
    <!--css-->
    <link href="../../../public/admin_/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../public/admin_/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../public/admin_/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../../public/admin_/css/owl.theme.default.min.css">
    <link href="../../../public/admin_/css/style.css" rel="stylesheet">
    <style>
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>

    <!--css-->

</head>
<body>

<section class="fullscreen">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!--sidebar-->
                <div class="sidebar">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="sidebar-menu">
                                    <div class="sidebar-menu-titre">
                                        <h3>کوشا صنعت صحرا</h3>
                                    </div>
                                    <div class="sidebar-menu-list">
                                        <ul>
                                            <li><a href="#">صفحه اصلی</a></li>
                                            <li><a href="#">نوشته ها</a></li>
                                            <li><a href="#">برگه ها</a></li>
                                            <li><a href="#">نمایش</a></li>
                                            <li><a href="#">کاربران</a></li>
                                            <li><a href="#">ابزار ها</a></li>
                                            <li><a href="#">فروشگاه</a></li>
                                            <li><a href="#">مشاهده سفارش ها</a></li>
                                            <li><a href="#">وارد کردن محصول جدید</a></li>
                                            <li><a href="#">تنظیمات</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--sidebar-->
            </div>
            <div class="col-md-9">

                <!--main-->

                <!--nav-->
                <nav class="nav-admin">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="nav-admin-menu-r">
                                    <!-- Example single danger button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false">
                                            Action
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Separated link</a>
                                        </div>
                                    </div>

                                    <div class="btn-group">
                                        <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false">
                                            Action
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Separated link</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="nav-admin-menu-l">
                                    <ul>
                                        <li><i class="fa fa-cog"></i></li>
                                        <li><i class="fa fa-bell-o"></i></li>
                                        <li><i class="fa fa-comment-o"></i></li>
                                        <li><i class="fa fa-home"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <!--nav-->

                <!--header-->
                <div class="header-admin">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="header-admin-r">
                                    <h2>داشبورد</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--header-->

                <!--body-->
                <!--body-->
                <article class="body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-title d-flex justify-content-between">
                                        <h3>وارد کردن محصول جدید</h3>
                                        <div class="dropdown">
                                            <a href="#" data-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                            <span class="dropdown-menu dropdown-menu-left"
                                                  x-placement="bottom-start"
                                                  style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 22px, 0px);">
                                                                 <a href="#" class="dropdown-item">گزارش</a>
                                                                 <a href="#" class="dropdown-item">دانلود</a>
                                                                 <a href="#" class="dropdown-item">بستن</a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-store">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control  mb-4 mt-4"
                                                       placeholder="نام محصول">
                                                <div class="form-group">
                                                    <label for="exampleFormControlTextarea1">توضیحات مربوط به
                                                        محصول</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1"
                                                              rows="3"></textarea>
                                                </div>
                                                <div class="input-card-price  ">
                                                    <div class="input-group input-group-sm mb-4 mt-4  w-75">
                                                        <label for="exampleFormControlTextarea1"
                                                               class="ml-4 text-danger">قیمت قبل</label>

                                                        <div class="input-group-prepend ">
                                                            <span class="input-group-text" id="inputGroup-sizing-sm1">تومان</span>
                                                        </div>
                                                        <input type="text" class="form-control"
                                                               aria-label="Sizing example input"
                                                               aria-describedby="inputGroup-sizing-sm">
                                                    </div>
                                                    <div class="input-group input-group-sm mb-4 mt-4 w-75 d-flex justify-content-between">
                                                        <label for="exampleFormControlTextarea1"
                                                               class="ml-4 text-success">قیمت جدید</label>
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="inputGroup-sizing-sm2">تومان</span>
                                                        </div>
                                                        <input type="text" class="form-control"
                                                               aria-label="Sizing example input"
                                                               aria-describedby="inputGroup-sizing-sm">
                                                    </div>

                                                </div>

                                                <div class="input-group mb-4 mt-4n">
                                                    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                                        <option selected>Choose...</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button">Button</button>
                                                    </div>
                                                </div>
                                                <label for="validationDefault03">کلمات کلیدی</label>
                                                <input type="text" class="form-control" id="validationDefault03"
                                                       required>
                                                <button class="btn btn-success mb-4 mt-4" type="submit">افزودن محصول</button>
                                                <button class="btn btn-danger mb-4 mt-4" type="reset">حذف</button>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="row">
                                                        <div class="imgUp mr-4">
                                                            <div class="imagePreview"></div>
                                                            <label class="btn btn-light">
                                                                <input type="file" class="uploadFile img"
                                                                             value="Upload Photo"
                                                                             style=overflow:hidden;>
                                                            </label>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    </div>
    <!--body-->

    </div>
    </div>
    </div>
</section>

<!-- Optional JavaScript -->
<script src="../../../public/admin_/js/jquery-2.1.4.min.js"></script>
<script src="../../../public/admin_/js/bootstrap.min.js"></script>
<script src="../../../public/admin_/js/owl.carousel.min.js"></script>
<script src="../../../public/admin_/css/bootstrap.bundle.min.js"></script>
<script src="../../../public/admin_/js/script.js"></script>


</body>
</html>
